node_modules
node_modules_container
docs
.git
jdl/**/.jhipster/**
.vscode-test
**/templates/**/
**/jdl-core.min.js
**/generated-serialized-grammar.js
test/fixtures/**
dist
coverage
BadEntity.json
*.svg
*.png
*.ico
*.sh
*.pxd

.github/ISSUE_TEMPLATE
.dockerignore
.DS_Store
.eslintignore
.gitattributes
.gitignore
.prettierignore
Dockerfile
LICENSE
pnpm-lock.yaml

dist

cdn.pagic.org

src/vendors
src/types
src/**/prism_tomorrow.css
src/**/prism.css

test/fixtures/walk
test/fixtures/test_*

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock